* {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:black;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    --primary-cyan: hsl(180, 66%, 49%);
    --half-cyan : hsl(180, 65%, 78%);
    --primary-violet: hsl(257, 27%, 26%);
    --secondary-red: hsl(0, 87%, 67%);
    --neutral-gray: hsl(0, 0%, 75%);
    --neutral-gray-light: hsl(0, 3%, 93%);
    --neutral-gray-violet: hsl(257, 7%, 63%);
    --neutral-blue: hsl(255, 11%, 22%);
    --neutral-violet: hsl(260, 8%, 14%);
    @media (max-width:600px) {
        font-size: 12px;
    }
}

html {
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    overflow-x: hidden;
}

body > * {
    width: 80%;
    @media (max-width:1000px) {
        width:90%;
    }
}

.p0 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.p0 > *{
    color: var(--neutral-gray);
    margin-right: 1.5rem;
    font-weight: 700;
}

.p0-logo {
    color: var(--neutral-violet);
    font-size: 2rem;
}

.p0-link-1 {
    margin-left: auto;
}

.p0-link-1:hover, .p0 > *:hover {
    color:black;
}

.p0-link-2 {
    background-color: var(--primary-cyan);
    color:white;
    padding-inline:1rem;
    padding-block: 0.5rem;
    border-radius:1.5rem;
    margin-right:0;
}

.p0-link-2:hover {
    color: white;
    opacity: 0.5;
}

.p0-icon {
    display: none;
    margin-left: auto;
    margin-right:0;
    opacity: 0.4;
}

.p0-dropdown{
    height: 0;
    position: block;
    right:1rem;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    margin:0;
    margin-top: 0.5rem;
    padding:0;
    align-items: center;
    justify-content: space-around;
    width:calc(100% - 2rem);
    background-color: var(--primary-violet);
    border-radius: 1rem;
    opacity:0;
}

.p0-dropdown > hr {
    width: 85%;
    opacity:0.2;
}

.p0-ddlink-0, .p0-ddlink-1, .p0-ddlink-2 {
    color: white;
    font-weight: 700;
    @media (max-width:600px) {
        font-size: 1.5rem;
    }
}

.p0-ddlink-2 {
    background-color: var(--primary-cyan);
    padding-inline: 4rem;
    padding-block: 0.5rem;
    border-radius: 2rem;
}

@media (max-width: 800px) {
    a.p0-link-0, a.p0-link-1, a.p0-link-2 {display: none;}
    a.p0-icon { display: block; }
    .p0.responsive ~ .p0-dropdown{
        opacity: 1;
        height:300px;
        margin-bottom: 2rem;
        padding-block: 1rem;
    }
}

.p1 {
    margin-top:5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    @media (max-width:1300px) {
        justify-content: center;
        text-align: center;
    }
}

.p1-1 {
    max-width:600px;
    padding-block: 3rem;
}

.p1-1-title {
    font-size: 4rem;
    line-height: 4.5rem;
    @media (max-width:700px) {
        font-size: 3rem;
    }
}

.p1-1-desc {
    color: var(--neutral-gray-violet);
    font-weight: 500;
    width:75%;
    margin-top:1rem;
    @media (max-width:1300px) {
        width:100%;
    }
}

.p1-1-button {
    background-color: var(--primary-cyan);
    padding-block:0.5rem;
    padding-inline:2rem;
    border-radius: 2rem;
    color: white;
    font-weight: 700;
}

.p1-1-button:hover {
    opacity: 0.5;
}

.p1-img-cont {
    position:absolute;
    right: -200px;
    scale:1.2;
    z-index: -1;
    @media (max-width:1300px) {
        position:relative;
        right:0;
        scale:1;
    }
}

.p1-img {
    width:700px;
    height:450px;
    @media (max-width:1300px) {
        width:100%;
        height:100%;
    }
}

.p2 {
    margin-top:10rem;
    background-color: var(--primary-violet);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1300px) {
        margin-block:1rem;
    }
}

.p2-pattern {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: url("./images/bg-shorten-desktop.svg");
    background-size: cover;
    border-radius: 0.5rem;
    @media (max-width:700px) {
        background: url("./images/bg-shorten-mobile.svg");
        background-size: cover;
    }
}

.p2-input {
    margin-left:3rem;
    margin-block:2rem;
    z-index: 1;
    padding-inline:2rem;
    padding-block:1rem;
    flex-grow: 1;
    border-radius: 0.5rem;
    border:none;
    outline:none;
    @media (max-width:700px) {
        margin-inline:1rem;
        margin-block:1rem;
        padding-inline: 1rem;
        padding-block: 1rem;
        width:100%;
    }
}

.p2-input.invalid {
    outline: solid 2px red;
}

.invalid-msg {
    color:red;
    position: absolute;
    font-size: 0.8rem;
    bottom:0.5rem;
    left:3rem;
    font-style: italic;
    @media (max-width: 700px) {
        position:static;
        width:100%;
        z-index: 1;
        margin-left:1rem;
        margin-top: -0.5rem;
        margin-bottom: 1rem;
    }
}

.p2-input.invalid::placeholder{
    color:red;
}

.p2-button {
    margin-left:1rem;
    margin-block:2rem;
    margin-right:3rem;
    padding-inline:3rem;
    padding-block:1rem;
    z-index: 1;
    background-color: var(--primary-cyan);
    border-radius: 0.5rem;
    color:white;
    font-weight: 700;
    border:0;
    outline:0;
    @media (max-width:700px) {
        margin-inline:1rem;
        margin-block:1rem;
        margin-top:0;
        flex-grow: 1;
    }
    cursor: pointer;
}

.p2-button:hover {
    background-color: var(--half-cyan);
}

.p2-button.loading {
    opacity: 0.8;
}

.p2-bg {
    position: absolute;
    left:-10vw;
    top:50%;
    height:100%;
    width:150%;
    z-index: -1;
    background-color: var(--neutral-gray-light);
}

.p2-result  {
    display: flex;
    flex-direction: column;
    margin-top:1rem;
    gap:1rem;
    width:100%;
    background-color: var(--neutral-gray-light);
    position: relative;
}

.result {
    background-color: white;
    width: calc(80% - 4rem);
    margin-left: 10%;
    border-radius: 0.5rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    @media (max-width:1000px) {
        width:calc(90% - 4rem);
        margin-left: 5%;
        @media (max-width:600px) {
            padding-inline: 1rem;
            width:calc(90% - 2rem);
        }
    }
    
}

.result > hr {
    display: none;
    @media (max-width: 600px) {
        display: inline;
        opacity: 0.3;
        width: 100%;
    }
}

.result-0 {
    margin-right: auto;
    font-weight: 500;
    word-break:break-all;
    @media (max-width:600px) {
        width: 100%;
    }
}

.result-1 {
    font-weight: 500;
    color: var(--primary-cyan);
    border:none;
    outline:none;
    min-width:300px;
    text-align: end;
    background: none;
    word-break:break-all;
    @media (max-width:600px) {
        width: 100%;
    }
}

.result-2 {
    background-color: var(--primary-cyan);
    border:none;
    outline:none;
    color: white;
    font-weight: 700;
    border-radius: 0.25rem;
    padding-block: 0.4rem;
    padding-inline: 1rem;
    font-size: 0.8rem;
    width:5%;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    @media (max-width:600px) {
        width: 100%;
    }
}

.result-2.copied {
    background-color: var(--primary-violet);
}

.result-2:hover {
    opacity: 0.5;
}

.p3{
    position: relative;
}

.p3-bg{
    position: absolute;
    left:-10vw;
    height:100%;
    width:150%;
    z-index: -1;
    background-color: var(--neutral-gray-light);
}

.p3-0 {
    width:100%;
    text-align: center;
    margin-top:6rem;
    margin-bottom:4rem;
    @media (max-width:800px) {
        margin-top:3rem;
    }
}

.p3-0-title {
    font-size: 2rem;
}

.p3-0-desc {
    margin-top: 0.5rem;
    position: absolute;
    left:25%;
    max-width:50%;
    opacity: 0.5;
    @media (max-width:800px) {
        max-width: 80%;
        left:10%;
    }
}

.p3-1 {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:8rem;
    margin-bottom:5rem;
    gap:2rem;
    position: relative;
    @media (max-width:800px) {
        flex-direction: column;
        gap:5rem;
    }
}

.p3-1-0 {
    background: white;
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.02); */
    padding:1rem;
    padding-inline:1.3rem;
    padding-top: calc(1rem + 20px + 1rem);
    position: relative;
    height:max-content;
    @media (max-width:800px) {
        margin-top:3rem;
        text-align: center;
    }
}

.p3-1-0 > .img-cont {
    background-color: var(--primary-violet);
    border-radius: 50%;
    padding: 1rem;
    width:40px;
    height:40px;
    position: absolute;
    top: calc(-1rem - 20px);
    @media (max-width:800px) {
        left:calc(50% - 20px - 1rem);
    }
}

.p3-1-0 > .img-cont > img {
    width:100%;
    height:100%;
    @media (max-width:800px) {
        width: 50%;
        height:50%;
        position: absolute;
        top:25%;
        left:25%;
    }
}

.p3-1-0-title {
    font-weight: 700;
    font-size: 1.3rem;
}

.p3-1-0-desc {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    opacity:0.5;
}

.p3-1-1 {
    margin-top:2rem;
    @media (max-width:800px) {
        margin-top:0;
    }
}

.p3-1-2 {
    margin-top: 4rem;
    @media (max-width:800px) {
        margin-top:0;
    }
}

.p3-line {
    position: absolute;
    width: 100%;
    height:10px;
    background-color: var(--primary-cyan);
    z-index: -1;
    top: 50%;
    @media (max-width:800px) {
        width:10px;
        height:calc(100% - 20px);
        top:20px;
        left:calc(50% - 5px);
    }
}

.p4 {
    width:100vw;
    left:0;
    text-align: center;
    background-color: var(--primary-violet);
    padding-block: 2rem;
    position: relative;
}

.p4-bg {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url("./images/bg-boost-desktop.svg");
    background-size: cover;
    
}

.p4-title {
    color:white;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}

.p4-button {
    margin-top: 1rem;
    background-color: var(--primary-cyan);
    color: white;
    border:none;
    outline:none;
    position: relative;
    z-index: 2;
    font-weight: 600;
    padding-inline:2rem;
    padding-block: 0.5rem;
    border-radius:1.5rem;
    margin-right:0;
    cursor: pointer;
}

.p4-button:hover {
    background-color: var(--half-cyan);
}

.p5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-block: 3rem;
    @media (max-width:900px) {
        flex-direction: column;
        text-align: center;
        gap:2rem;
    }
}

.p5-bg {
    position: absolute;
    width:150vw;
    height:calc(100% + 3rem);
    left:-20%;
    top: -3rem;
    z-index: -1;
    background-color: var(--neutral-violet);
}

.p5-0 {
    color: white;
    font-size: 2rem;
    padding-right:5rem;
    @media (max-width:900px) {
        padding:0;
    }
}

.p5-1 {
    display: flex;
    flex-direction: column;
}

.p5-1 > * {
    color: white;
}

.p5-1-header {
    margin-bottom:0.5rem;
}

.p5-1 > a {
    margin-top: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.p5-1 > a:hover {
    color: var(--primary-cyan);
    opacity: 1;
}

.p5-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height:30px;
    gap:20px;
}

.p5-2 > *:hover {
    cursor: pointer;
    scale: 1.1;
}